* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #dddd;
  font-family: sans-serif;
  padding: 1rem;
  margin: 1rem;

  h1 {
    color: yellowgreen;
    margin-bottom: 1rem;
  }

  .book {
    display: flex;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #484141;

    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .allThreeBooks {
    margin-top: 1rem;
    font-weight: bold;
  }

  .title {
    color: red;
    font-size: large;
    margin-bottom: 0.5rem;
  }

  .author {
    color: aqua;
    font-size: medium;
  }

  span.title {
    color: bisque;
  }

  span.author {
    color: rgb(146, 151, 182);
  }

  img {
    margin: 0.5rem;
    box-shadow: 3px 2px 7px -4px #000;
  }

  .cover {
    min-width: 100px;
    max-width: 100px;
  }

  .btnToggleImages {
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  .btnToggleLike {
    margin-top: 0.5rem;
    padding: 0.5rem;
  }

  .isLiked {
    margin-top: 0.5rem;
  }
}
